.Part1-wrapper {
  .stock-1 {
    grid-area: stock-1;
  }
  .stock-2 {
    grid-area: stock-2;
  }
  .stock-3 {
    grid-area: stock-3;
  }
  .heading {
    grid-area: heading;
  }

  display: grid;
  grid-template-areas:
    'heading heading heading'
    'stock-1 stock-2 stock-3';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  color: white;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    margin-top: 0px;
    font-family: OpenSansLight, serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
    margin-bottom: 30px;
  }

  h2 {
    font-family: OpenSansLight, serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #9d1429;
  }

  p {
    font-family: OpenSansLight, serif;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;

    &:last-of-type {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }

  // MEDIA QUERIES
  @media (min-width: 320px) {
    grid-template-areas:
      'heading heading'
      'stock-1 stock-2'
      'stock-1 stock-3';
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 18px;
      line-height: 30px;

      &:last-of-type {
        font-size: 18px;
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-areas:
      'stock-1 stock-2 heading'
      'stock-1 stock-3 heading';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    p {
      text-align: left;
    }
  }
}
