@font-face {
  font-family: 'OpenSansReg';
  src: local('OpenSansReg'),
    url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: local('OpenSansLight'),
    url('./fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: local('OpenSansSemiBold'),
    url('./fonts/OpenSans-SemiBold.ttf') format('truetype');
}

.App {
  background-color: #0e1414;
  min-height: 100%;
  padding: 8px;

  .container {
    max-width: 1200px;
    margin: 0px auto;
  }

  // MEDIA QUERIES
  @media (min-width: 321px) {
    padding: 16px;
  }
  @media (min-width: 1200px) {
    padding: 185px 24px;
  }
}

// GLOBAL
.selectedImg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

img {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
  box-sizing: border-box;
}

img:hover {
  opacity: 0.5;
  transform: scale(98%);
}
